<h1 *ngIf="!zalogowano()"> Logowanie</h1>

<form (ngSubmit)="zaloguj()" *ngIf="!zalogowano()" class="m-a-1">
    <div class="form-group">
        <label>Login</label>
        <input class="form-control" #name="ngModel" name="login"
               [(ngModel)]="uzytkownik.login" required style="width:50%"/>
        <label>Hasło</label>
        <input class="form-control" type="password" #name="ngModel" name="haslo"
               [(ngModel)]="uzytkownik.haslo" required style="width:50%"/>
    </div>
    <div *ngIf="komunikat" style="color:red">{{komunikat}}<br/></div>
    <div class="text-xs-center">
        <button class="btn btn-primary" type="submit">Zaloguj</button>
    </div>
</form>