<h1 id="tableLabel">Zasoby</h1>

<div align="right">
    <button class="btn btn-secondary" routerLink="/zasob-forma/add">Nowy zasób</button>
</div>


<p>Lista dostępnych zasobów</p>

<p *ngIf="!zasobyLista"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="zasobyLista">
    <thead>
        <tr>
            <th>Nazwa</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let zasob of zasobyLista" (click)="pokazZasob(zasob)">
            <td>{{ zasob.nazwa }}</td>

        </tr>
    </tbody>
</table>